#================================Information========================================
#c: This file contain internal configs. Dont change location of this file where it is, except if you change values in ENV_const.h and re-compile it.
#c: All values in this file will be used in run time, so you can change them to fit your need. But make sure to follow the rules below, otherwise it may cause error or unexpected behavior.
#c: All values won't be written into new .env file, to write, change in .env.example and run exe file again.

#========================================Flags====================================================

#c: the c: comment that escape special flags like l: r: s: o: f: and #c: itself. You can use it to write comment that contain those tags. It will be ignored by the program.
#c: the l: display text to explain what value is for. All will be prefixed with "Plese set {text}"
#c: the r: Mandatory input.
#c: the s: Read only value(use default and cannot be modified in run time). cannot be empty value  
#c: the e: allow user to skip that value when setting. if user enter "null", it will be ignored to write.
#c: the o: mean option that can select, enter positive int to select. Each option are separate by "|". if no options after o:, this flag will be ignored.
#c: the f: The file to execute. The file's current folder will be considered same as project root folder. This value don't need key name.
#c: example for [f:] -> if you want acess file in folder src/database: src/database/sample.sql

#c:==============================Restriction======================================================

#c: key and value have size restriction, change it in ENV_const.h and re-compile it if you want to change.
#c: Only support .php and .sql file to run!

#c: DON'T CHANGE KEY NAME IN THIS FILE, EXCEPT YOU ARE CHANGING setup.exe's source code.(.env.example can change value, but ensure others program are compatible)!!!
#c: key and value have size restriction, change it in ENV_const.h and re-compile it if you want to change.
#c: Key name cannot: start with digit, special character [ , ] @ $ % \ and many others. 
#c: Except for files, ../ and only invalid char for path are prohibided(Note: some invalid word/chr isn't included)
#c: if there are other same flags, only last one will be used for next new value.

#c:====================================values=====================================================

#l: enable safety confirmation. The system will ask for confirmation before running risk action.
#o: on|off
#s:
WARNING_FLAGS = on

#l: enable debug info. The system will show more detail of error.
#o: on|off
#s:
SHOW_DEBUG_INFO = on

#l: display location of code gets this error
#o: on|off
#s:
DISPLAY_ERROR_LINE = on

#l: where is php location
PHP_PATH = c:\xampp\php

#c:=================================FILES TO USE================================================

#l: test file to run
#f:
test.php